<!DOCTYPE html>

<html>

<head>
	<title>{{pageName}} | antoine coulon</title>
	<meta charset="UTF-8">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
	{{{body}}}
</body>

</html>