<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<title>{{pageName}} | antoine coulon</title>
	<meta name="description" content="Antoine Coulon is an IT student intrested in network programming and information security.">
	<meta name="keywords" content="Antoine, Coulon, 19, Student, IT, computer, science, software, engineer, network, infosec, cybersec, security">
	<meta name="author" content="Antoine Coulon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
	{{{body}}}
</body>

</html>