<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>contact — antoinecoulon.com</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<div class="main">
		<h2>about</h2>
		<br />
		<h2>Antoine '30c27b' Coulon is a 20 years old Belgian who started to learn</h2>
		<h2>programming in 2018.</h2>
		<h2>He spent a year studying in a classical college, then shifted to <a href="https://s19.be/" target="_blank"
				rel="noopener noreferrer">19</a>:</h2>
		<h2>one of several campuses part of the <a href="https://42.fr/42-network/" target="_blank"
				rel="noopener noreferrer">42 network</a> — a foundation creating</h2>
		<h2>programming schools who provide a new learning method based on</h2>
		<h2>peer-learning — in Brussels.</h2>
		<h2>In parallel, he is learning about cryptography and information security.</h2>
		<br />
		<br />
		<h2><a href="/">homepage</a></h2>
	</div>
</body>

</html>