<div class="main">

	<h2>about</h2>
	<br />
	<h2>19 yo</h2>
	<h2>from brussels, belgium</h2>
	<h2>currently studying at <a href="https://s19.be" target="_blank" rel="noopener noreferrer">19</a></h2>
	<h2>wants to work in computer security or network programming</h2>
	<br />
	<h2>native french speaker</h2>
	<h2>fluent in english</h2>
	<h2>notions of dutch</h2>
	<br />
	<h2>hobbies are:</h2>
	<h2>computers</h2>
	<h2>video games</h2>
	<h2>cooking</h2>
	<br />
	<h2><a href="/">homepage</a></h2>

</div>