<div class="main">

	<h2>contact</h2>
	<br />
	<h2><a href="mailto:contact@cln.ac?subject=hello">email</a></h2>
	<h2><a href="https://github.com/CoulonAntoine" target="_blank" rel="noopener noreferrer">github</a></h2>
	<h2><a href="https://www.linkedin.com/in/antoine-coulon/" target="_blank" rel="noopener noreferrer">linkedin</a></h2>
	<h2><a href="https://twitter.com/an_coulon" target="_blank" rel="noopener noreferrer">twitter</a></h2>
	<h2><a href="https://www.instagram.com/antoine_coulon/" target="_blank" rel="noopener noreferrer">instagram</a></h2>
	<br />
	<h2>if possible, encrypt with pgp</h2>
	<h2><a href="/key.asc" target="_blank">7db3 3e7d ebc5 f1eb</a></h2>
	<br />
	<h2><a href="/">homepage</a></h2>

</div>