<div class="main">

	<h2>contact</h2>
	<br />
	<h2><a href="mailto:contact@cln.ac?subject=hello">email</a></h2>
	<h2><a href="https://www.linkedin.com/in/antoine-coulon/" target="_blank" rel="noopener noreferrer">linkedin</a></h2>
	<br />
	<h2>if desired, encrypt with pgp</h2>
	<h2><a href="/key.asc" target="_blank">E676 5B31 7273 1FCF</a></h2>
	<br />
	<br />
	<h2><a href="/">homepage</a></h2>

</div>
