<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>contact — antoinecoulon.com</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<div class="main">
		<h2>contact</h2>
		<br />
		<h2><a href="mailto:contact@cln.ac?subject=hello">email</a></h2>
		<h2><a href="https://www.linkedin.com/in/antoine-coulon/" target="_blank" rel="noopener noreferrer">linkedin</a>
		</h2>
		<br />
		<h2>pgp fingerprint: 0xE6765B3172731FCF</h2>
		<h2>pubkey available <a href="/pubkey.asc" target="`_blank">here</a> or on most keyservers.</h2>
		<br />
		<br />
		<h2><a href="/">homepage</a></h2>
	</div>
</body>

</html>