<div class="main">

	<h2>antoine '30c27b' coulon</h2>
	<h2>infosec enthusiast</h2>
	<br />
	<h2><a href="/about">about</a></h2>
	<h2><a href="/resume">résumé</a></h2>
	<h2><a href="/contact">contact</a></h2>
	<br />
	<h2>personal website and blog</h2>
	<h2>at <a href="https://30c27b.com/">30c27b.com</a></h2>
	<br />

</div>