<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>homepage — antoinecoulon.com</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<div class="main">
		<h2>antoine coulon</h2>
		<br />
		<h2><a href="/about">about</a></h2>
		<h2><a href="/contact">contact</a></h2>
		<br />
		<h2>personal website and blog</h2>
		<h2>at <a href="https://30c27b.com/" target="_blank" rel="noopener noreferrer">30c27b.com</a></h2>
		<br />
	</div>
</body>

</html>